body {
  font-size: 25px;
  margin: 20px;
  
}
.Ex {
  font-weight: bold;
}
.comment {
  font-size: 15px;
  color: green;
}
.input {
  font-size: 25px;
  height: 20px;
  width: 10px;
}

.pre{
  background-color:#E3FFFF;
  border-radius:20px;
}
